# Trips/TRs Entities Verification

- Generated: 2026-02-06T11:27:51.253075Z
- Source: data\schedule\option_c_v0.8.0.json

## Trips

| trip_id | activities | planned_start | planned_finish |
| --- | --- | --- | --- |
| TRIP_01 | 18 | 2026-01-28T00:00:00+04:00 | 2026-02-10T23:59:59+04:00 |
| TRIP_02 | 16 | 2026-01-29T00:00:00+04:00 | 2026-02-17T23:59:59+04:00 |
| TRIP_03 | 16 | 2026-02-14T00:00:00+04:00 | 2026-02-24T23:59:59+04:00 |
| TRIP_04 | 16 | 2026-02-21T00:00:00+04:00 | 2026-03-03T23:59:59+04:00 |
| TRIP_05 | 16 | 2026-02-28T00:00:00+04:00 | 2026-03-10T23:59:59+04:00 |
| TRIP_06 | 16 | 2026-03-07T00:00:00+04:00 | 2026-03-17T23:59:59+04:00 |
| TRIP_07 | 15 | 2026-03-14T00:00:00+04:00 | 2026-03-24T23:59:59+04:00 |

## TRs

| tr_id | name | bay_id | trip_ids |
| --- | --- | --- | --- |
| TR_01 | AGI TR Unit 1 | TR Bay 4 | TRIP_01 |
| TR_02 | AGI TR Unit 2 | TR Bay 3 | TRIP_02 |
| TR_03 | AGI TR Unit 3 | TR Bay 2 | TRIP_03 |
| TR_04 | AGI TR Unit 4 | TR Bay 1 | TRIP_04 |
| TR_05 | AGI TR Unit 5 | TR Bay 5 | TRIP_05 |
| TR_06 | AGI TR Unit 6 | TR Bay 6 | TRIP_06 |
| TR_07 | AGI TR Unit 7 | TR Bay 7 | TRIP_07 |
